---
import Layout from "../layouts/Layout.astro"
import PostPreview from "../components/PostPreview.astro"
const posts = await Astro.glob("./posts/*.md")
---

<Layout title="My Asto blog">
  <h1>Welcome to my blog</h1>
  <div class="article-previews-wrapper">
    {
      posts.map((post) => (
        <PostPreview
          title={post.frontmatter.title}
          url={post.url}
          description={post.frontmatter.description}
        />
      ))
    }
  </div>
</Layout>

<style>
  .article-previews-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
