<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>My Astro blog</title>
  </head>
  <body>
    <header>
      <a href="/">My Astro blog</a>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: system-ui, sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    padding: 0.5rem;
    font-size: 200%;
    border-bottom: 1px solid #dddddd;
  }

  header a {
    color: inherit;
    text-decoration: none;
  }

  main {
    margin-inline: auto;
    max-width: 80rem;
    padding-inline: 1rem;
  }
</style>
